.pageWrapper {
  min-block-size: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Google Sans', system-ui, sans-serif;
  background: hsl(193, 11%, 82%);
}

.frame {
  width: 400px;
  aspect-ratio: 1 / 1.32;
  overflow: hidden;
  position: relative;
  border: 16px solid hsl(193, 6%, 41%);
  border-bottom-color: hsl(193, 9%, 28%);
  box-shadow: 0 1.5em 2.375em -0.26em #0006;
  border-radius: 4px;
  display: grid;
  isolation: isolate;
}

.frame::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 7;
  box-shadow: 0 10px 14px 8px #0005 inset;
  pointer-events: none;
}

.inside {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: hsl(210, 1%, 47%);
  color: #f3e7dd;
  font-size: 10vh;
  letter-spacing: 0.08em;
}

.digitalClock {
  font-family: 'ClockFont', monospace;
  user-select: none;
  text-shadow: 0 2px 4px #0008;
}

.doors {
  z-index: 5;
  display: grid;
  grid-template: 'left right' 1fr / 1fr 1fr;
  position: relative;
  height: 100%;
  width: 100%;
}

.door {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: grid;
  transition: transform 920ms cubic-bezier(0.77, 0, 0.18, 1);
  will-change: transform;
  backface-visibility: hidden;
}

.door::after {
  content: '';
  position: absolute;
  inset: 0;
  background: hsl(193, 6%, 41%)
    linear-gradient(
      to bottom,
      #0007,
      18%,
      hsl(193, 6%, 65%) 30% 32%,
      hsl(193, 5%, 54%) 42%,
      #fff2 60%,
      hsl(193, 6%, 41%) 78% 80%,
      #0003
    );
  mix-blend-mode: multiply;
  filter: url(#brushedMetalEffect) invert(7%) contrast(105%);
}

.leftDoor {
  grid-area: left;
  transform-origin: left center;
  box-shadow: inset -3px 0 4px -1px #0007;
  border-inline-end: 1px solid hsl(193, 16%, 14%);
  width: 50%;
  left: 0;
}

.rightDoor {
  grid-area: right;
  transform-origin: right center;
  box-shadow: inset 3px 0 4px -1px #0007;
  border-inline-start: 1px solid hsl(193, 16%, 14%);
  width: 50%;
  left: 50%;
}

.frame.isOpen .leftDoor {
  transform: translateX(-72%);
}

.frame.isOpen .rightDoor {
  transform: translateX(72%);
}
