.container {
  position: relative;
  width: 100vw;
  min-height: 100dvh;
  overflow: hidden;
  background-color: #000;
}

.backgroundVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.2) saturate(1.7) contrast(0.8);
  z-index: 0;
}

.tiledClocks {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  padding: min(2rem, 2vw);
  z-index: 1;
  place-items: center;
  box-sizing: border-box;
}

.tileClock {
  position: relative;
  width: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.1rem solid rgba(199, 215, 243, 0.538);
  box-shadow: 0 0 0.5rem rgba(0, 123, 255, 0.3);
}

.tileHand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.1rem;
  height: 49%;
  background: rgba(15, 53, 125, 0.6);
  border-radius: 0.05rem;
  transform-origin: 50% 100%;
}

.tileHandMinute {
  height: 30%;
  background: rgba(66, 86, 126, 0.8);
}

.tileHandSecond {
  height: 49%;
  background: rgba(99, 103, 132, 0.6);
}

@media (max-width: 767px) {
  .tiledClocks {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: min(1rem, 2vw);
  }

  .tileClock {
    width: 80%;
    border-width: 0.08rem;
  }
}