@keyframes skyCycle {
  0% { background: #3bbdf0; }
  15% { background: #8fbee2; }
  25% { background: #e8a30d; }
  50% { background: #fd1d1d; }
  60% { background: #b43a87; }
  75% { background: #833ab4; }
  90% { background: #02027f; }
  100% { background: #010102; }
}

@keyframes sunVertical {
  0% { top: 10%; opacity: 1; }
  45% { top: 50%; opacity: 1; }
  100% { top: 90%; opacity: 0; }
}

.skyCycle {
  animation: skyCycle 20s ease-in-out infinite alternate;
}

.sunVertical {
  animation: sunVertical 20s linear infinite alternate;
}
