body {
    background-color: #111;
}

#clock-container {
    width: 660px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.clock-row {
    width: 100%; 
    display: flex;
    flex-direction: row;
}

.clock-letter {
    width: 60px;
    height: 60px;
    display: block;
    line-height: 60px;
    text-align: center;
    color: #333;
    font-family: 'Monda', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.active {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 12px #FFF;
}