.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  color: #FF91AF;
}

.clockFace {
  font-family: 'ClockFont_26_08_03', sans-serif;
  font-size: 30vw;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}