.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #f9c7b4 0%, #d8cfcf 90%);
}

.clockWrapper {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: contain;
  z-index: 2;
}

.canvasLayer1 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.canvasLayer3 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
