@keyframes fade {
  0% { opacity: 0; }
  11.1% { opacity: 1; }
  33.3% { opacity: 1; }
  44.4% { opacity: 0; }
  100% { opacity: 0; }
}

.fade {
  animation: fade 9s infinite;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
