.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #f78ae8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digitalDisplay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.timeGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.digitBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* width: 20vmin; */
  /* height: 34vmin; */
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 768px) {
  .digitalDisplay {
    flex-direction: column;
  }

  .timeGroup {
    flex-direction: row;
  }

.digitBox {
  height: 34vh;
}
}


.digitBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  filter: contrast(90%) brightness(110%);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
