.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #ed4b92;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digitalDisplay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
  z-index: 9;
}

.timeGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}

@media (max-width: 768px) {
  .digitalDisplay {
    flex-direction: column;
    gap: 4vmin;
  }

  .timeGroup {
    flex-direction: row;
  }
}

.digitBox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 30vmin;
  background-color:#ed4b92;
  /* border: 2vmin solid #fff; */
  border-radius: 2vmin;
  box-sizing: border-box;
  overflow: hidden;
}

.digitBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  filter: contrast(120%) brightness(150%);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
