.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #020202;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.digitsContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  -webkit-user-select: none;
  user-select: none;
}

.digitBox {
  font-size: calc(100dvh / 10);
  font-weight: 300;
  font-family: "Clock26-04-23", monospace;
  color: #FAEA10;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.963);
  line-height: 0.85;
  font-variant-numeric: tabular-nums;
}
