.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}


.backgroundImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% center;
  pointer-events: none;
}

.analogClock {
  position: relative;
  width: min(80vmin, 720px);
  height: min(80vmin, 720px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.face {
  position: relative;
  width: 100%;
  height: 100%;
}

.hourHand,
.minuteHand,
.secondHand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transition: transform 0.1s linear;
}

.hourHand {
  width: 3px;
  height: 25%;
  background: #aaffff;
  margin-left: -2px;
  z-index: 2;
}

.minuteHand {
  width: 2px;
  height: 40%;
  background: #aaffff;
  margin-left: -1.5px;
  z-index: 3;
}

.secondHand {
  width: 1px;
  height: 45%;
  background:#aaffff;
  margin-left: -1px;
  z-index: 4;
}

.digit {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22vh;
  color: #c2eeea;
  font-family: 'ClockFont_26_05_14', sans-serif;
  text-shadow: 1px 1px 0 #0000001c;
}

.centerDot {
  width: 4px;
  height: 4px;
  background: #aaffff;
  border-radius: 50%;
  z-index: 5;
}