.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75% center;
  pointer-events: none;
}

.analogClock {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
 z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face {
  position: relative;
  width: 100%;
  height: 100%;
}

.hourHand,
.minuteHand,
.secondHand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transition: transform 0.05s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.hourHand {
  width: 3px;
  height: 25%;
  background: #1a1a1a;
  margin-left: -4px;
  z-index: 2;
}

.minuteHand {
  width: 2px;
  height: 40%;
  background: #1a1a1a;
  margin-left: -3px;
  z-index: 3;
}

.secondHand {
  width: 1px;
  height: 45%;
  background: #d40000;
  margin-left: -1.5px;
  z-index: 4;
}
/* 
.secondHand::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #d40000;
  border-radius: 50%;
} */
