@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic+Coding&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');


.roulette-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

/* Clock face */
.clock {
    width: 45vh;
    height: 45vh;
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    z-index: 9;
}

/* Numbers */
.number {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    font-size: 6.5vh;
}

.number span {
    display: inline-block;
    transform: translateY(-17.5vw);
    background-color: rgb(241, 243, 211);
    width: 7vh;
    height: 12vw;
    line-height: 11vw;
    text-align: center;
}

/* Clock hands */
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    z-index: 10;
}

.hour-hand img {
    width: 2vw;
    height: 29vw;
    max-width: 8px;
    max-height: 80px;
    min-width: 4px;
    min-height: 40px;
}

.minute-hand img {
    width: 1.5vw;
    height: 25vw;
    max-width: 6px;
    max-height: 100px;
    min-width: 3px;
    min-height: 50px;
}

.second-hand img {
    width: 1vw;
    height: 30vw;
    max-width: 4px;
    max-height: 120px;
    min-width: 2px;
    min-height: 60px;
}

/* Clock center */
.center {
    width: 3vw;
    height: 3vw;
    max-width: 12px;
    max-height: 12px;
    min-width: 6px;
    min-height: 6px;
    background-color: rgb(237, 9, 9);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

/* Backgrounds */
.bgimage {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: 130%;
    min-width: 110%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: saturate(900%) brightness(70%);
    z-index: 3;
    opacity: 0.9;
}

.bgimage2 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: 80%;
    min-width: 80%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: saturate(200%) brightness(140%) contrast(140%);
    opacity: 0.6;
    z-index: 2;
}

.bgimage3 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    min-width: 105%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: saturate(190%) brightness(120%) contrast(200%);
    z-index: 1;
}