 @import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

 * {
     box-sizing: border-box;
 }

 html,
 body {
     margin: 0;
     padding: 0;
     height: 100%; 
     font-family: 'Courier New', monospace;
     background: #838282;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #clock {
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: 92vh;
     transition: all 0.5s ease;
     font-family: "Asset", serif;
     font-weight: bold;
 }

 .stripe {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 8vw;
     font-weight: bold;
     transition: all 0.5s ease;
 }

 @media (min-width: 768px) {
     #clock {
         flex-direction: row;
     }
 }