@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

.skewWrapper,
.skewWrapper * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.skewWrapper {
  background: black;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Stick', sans-serif;
}

.skewWrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}
