.container {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

@keyframes digitFade {
  from {
    opacity: 0;
    -webkit-text-fill-color: black;
  }
  to {
    opacity: 0.8;
    -webkit-text-fill-color: transparent;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
