.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #050505;
}

.videoLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  pointer-events: none;
}

.backgroundLayer {
  position: absolute;
  inset: 0;
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.95;
  pointer-events: none;
}


.face {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-0%, -50%);
  width: 90vmin;
  height: 90vmin;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'BorrowedAnalog', sans-serif;
}

.digitalTime {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  color: #ceeef664;
  font-size: 5vh;
}

.digitGroup {
  display: inline-flex;
  gap: 0;
}

.digitBox {
  display: inline-flex;
  align-items: baseline;

  width: 1ch; /* fixed width (using font's character metrics) */
  justify-content: center;

  /* prevent glyph-level kerning causing tiny shifts */
  letter-spacing: 0;
}

