.container {
  min-height: 100dvh;
  background-color: #f8f8f8;
  color: #1a1a1a;
  font-family: 'Inter', system-ui, sans-serif;
}

.mainContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 0.2rem;
}

.header {
  margin-bottom: 1.0rem;
  text-align: center;
}


.footer {
  text-align: center;
  margin-top: 4rem;
  color: #999;
  font-size: 0.9rem;
}