.sortButtonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem; /* Add some space below the buttons */
}

.sortButton {
  padding: 0.5rem 1rem;
  background: rgba(3, 2, 2, 0.7);
  border: 0.5px solid rgba(98, 103, 112, 0.8);
  color: #dadbd7;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  transition:
    background 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
  border-radius: 4px; /* Slightly rounded corners for consistency */
  font-size: 0.9rem; /* Adjust font size for buttons */
  white-space: nowrap; /* Prevent text wrapping */
}

.sortButton:hover {
  background: rgb(1, 10, 61);
  color: #fffffe;
  border-color: rgba(200, 215, 242, 0.8);
}