.monthDropdownContainer {
  margin-bottom: 0;
  position: relative;
  /* scroll-margin-top: 12rem; */
  border-bottom: 2px solid var(--color-lab-gray-medium);
  width: 100%;
}

.monthDropdownContainer:last-child {
  border-bottom: none;
}

.monthDropdownContainer:first-child {
  border-top: 3px solid var(--color-lab-gray-medium);
}

.dropdownButton {
  background-color: transparent;
  font-size: clamp(1.2rem, 2vw, 2rem);
  padding: clamp(0.1rem, 0.2vw, 0.3rem) clamp(1.5rem, 2.5vw, 3rem);
  /* border: 3px solid transparent;  */
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition:
    background-color 0.2s,
    color 0.2s;
  color: #424346;
  font-family: var(--font-arimo);
  width: 100%;
  letter-spacing: 0.13rem;
  position: relative;
  z-index: 1;
}

.dropdownButton:hover {
  background-color: rgb(210, 216, 233);
}

.dropdownButtonHovered {
  color: #040405;
}

.dropdownButtonExpanded {
  color: #060200;
  background-color: rgb(235, 233, 235);
}
