.sortContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  width: 100%;
  font-family: var(--font-arimo, sans-serif);
}

.sortButton {
  font-family: inherit;
  background: #ffffff;
  border: 1px solid #727070;
  padding: 6px 16px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #595757;
}

.sortButton:hover {
  border-color: #072e46;
  color: #000000 !important;
  background-color: #ced4d8;
}

.active {
  background-color: #d0cece;
  color: #000000 !important;
  border-color: #000000;
}