.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.twoUp {
  display: flex;
  width: 100%;
  height: 100%;
}

.half {
  flex: 1;
  overflow: hidden;
}

.backgroundVideo,
.backgroundVideoMirror {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroundVideo {
  object-position: right center; /* Aligns the content of the left video to the right */
}

.backgroundVideoMirror {
  transform: scaleX(-1);
  object-position: left center; /* Aligns the content of the right (mirrored) video to the left */
}