.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 2rem 0 0 0;
  background-color: #CD2500;
}

.video {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  filter: grayscale(1) contrast(1.2);
  mix-blend-mode: screen;
  object-fit: cover;
  z-index: 0;
}

.digitsContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  -webkit-user-select: none;
  user-select: none;
}

.digitBox {
  font-size: calc(100dvw / 10);
  font-weight: 300;
  font-family: 'Clock26-06-07', monospace;
  color: #ece8e8ab;
  text-shadow: 1px 1px 0px rgba(244, 240, 240, 0.586), -1px -1px 0px rgba(20, 1, 1, 0.9);
  line-height: 0.85;
  font-variant-numeric: tabular-nums;
}
