@font-face {
  font-family: 'ClockFont';
  src: url('data:font/truetype;charset=utf-8;base64,AAEAAAAQAQAABAAATFRTSHNbW70AAAEMAAAAaE9TLzJfdCrIAAABdAAAAE5jbWFwgAQvrwAAAcQAAAFSY3Z0IAL/AD8AAAMYAAAAEGZwZ23JoLGbAAADKAAAAVNnbHlm0/X/cAAABHwAAb/0aGRteAT2l4sAAcRwAAAGiGhlYWTL/6tzAAHK+AAAADZoaGVhBuAB0AAByzAAAAAkaG10eNl0A7kAActUAAABkGtlcm4adB+fAAHM5AAAQzJsb2NhLOPBBAACEBgAAADKbWF4cAKBBZ8AAhDkAAAAIG5hbWUabFTkAAIRBAAAAnZwb3N0eHl9awACE3wAAADwcHJlcHYAB1YAAhRsAAAADAAAAGQZARkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZ') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.clockDigit {
  width: 10vh;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16vh;
  line-height: 1;
  color: #F9DEB0FF;
  font-family: 'ClockFont', monospace !important;
}
