.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.digitalTime {
  color: #fff;
  font-size: 20vh;
  display: flex;
  align-items: center;
}

.digitBox {
  display: inline-flex;
  justify-content: center;
  width: 14vh;
}
