@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.title-container {
    color: #f3f4f6;
    text-shadow: #193038 1px 1px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    display: flex;
    z-index: 60;
}

.chltitle {
    position: absolute;
    /* font-family: "Roboto Slab", serif; */
    font-size: 0.9rem;
    position: absolute;
    top: 1px;
    left: 1px;
    letter-spacing: 0.05rem;
}

.bttitle {
    position: absolute;
    right: 1px;
    /* bottom: -20px; */
    font-family: "Oxanium", serif;
    font-size: 1.0rem;
    transform: skewX(-10deg); /* fake italic */
    z-index: 15;
    letter-spacing: -0.08rem;
}
