@keyframes flow {
  0% { background-position: 0 0; }
  100% { background-position: 0 50px; }
}

.flow {
  animation: flow 0.5s linear infinite;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
