@font-face {
  font-family: 'ClockFont';
  src: url('../../../assets/fonts/cine.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.clock-digit {
  font-family: 'ClockFont', monospace;
  font-weight: bold;
  user-select: none;
  white-space: pre;
  visibility: hidden;
}

.clock-digit.visible {
  visibility: visible;
}
