@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Economica&family=Questrial&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #f50ae1 0%, #ed5e0b 100%);
    overflow: hidden;
}

.throw {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}

.throw span {
    position: absolute;
    left: 0;
}

/* Define animation classes here */
.an-1 {
    animation: throw-1-up 1200ms ease-out forwards, throw-1-down 750ms 1200ms ease-in forwards;
}

.an-2 {
    animation: throw-2-up 900ms ease-out forwards, throw-2-down 450ms 900ms ease-in forwards;
}

.an-3 {
    animation: throw-3-up 1300ms ease-out forwards, throw-3-down 1300ms 1300ms ease-in forwards;
}

.an-4 {
    animation: throw-4-up 1380ms ease-out forwards, throw-4-down 1130ms 1380ms ease-in forwards;
}

.an-5 {
    animation: throw-5-up 830ms ease-out forwards, throw-5-down 660ms 830ms ease-in forwards;
}

.an-6 {
    animation: throw-6-up 320ms ease-out forwards, throw-6-down 940ms 320ms ease-in forwards;
}

/* Keyframes for throw animations */
@keyframes throw-1-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-500%) rotate(720deg);
    }
}

@keyframes throw-1-down {
    0% {
        transform: translateY(-500%) rotate(720deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes throw-2-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-300%) rotate(320deg);
    }
}

@keyframes throw-2-down {
    0% {
        transform: translateY(-300%) rotate(320deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes throw-3-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-800%) rotate(600deg);
    }
}

@keyframes throw-3-down {
    0% {
        transform: translateY(-800%) rotate(600deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes throw-4-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-850%) rotate(-550deg);
    }
}

@keyframes throw-4-down {
    0% {
        transform: translateY(-850%) rotate(-550deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes throw-5-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-350%) rotate(200deg);
    }
}

@keyframes throw-5-down {
    0% {
        transform: translateY(-350%) rotate(200deg);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes throw-6-up {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-523%) rotate(300deg);
    }
}

@keyframes throw-6-down {
    0% {
        transform: translateY(-523%) rotate(300deg);
    }

    100% {
        transform: translateY(0%);
    }
}

.date-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.clockname {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.clockname:hover {
    text-decoration: underline;
}