@keyframes spinClock {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.spinClock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  animation: spinClock 20s linear infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
}
