.container {
  height: 100dvh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  font-family: 'CustomFont', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 6rem;
  color: #f0ecd8ff;
  text-shadow: 0 0 1rem black;
}
