/* clock.css */
@font-face {
  font-family: 'sprout';
  src: url('../../../assets/fonts/25-05-26-sprout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.number {
  font-family: 'sprout', sans-serif;
}