
.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--clock-background-color);
}

.backgroundVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  filter: saturate(200%) contrast(0.8) brightness(1.1);
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transform-origin: 50% 50%;


  will-change: transform;
}

.clockFace {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmin;
  height: 100vmin;
  z-index: 7;
}

.clockHand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: var(--clock-primary-color);
  transform-origin: 50% 100%;
  filter: var(--clock-shadow-filter);
  border-radius: 40px;
}

/* (Unused) Animation kept for future use */
@keyframes clockBgRotateCW {
  from { transform: translateX(5vw) rotate(0deg); }
  to { transform: translateX(5vw) rotate(360deg); }
}

.needleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 10;
  pointer-events: none;
  object-fit: contain;
  filter:  hue-rotate(180deg) contrast(1.8) brightness(2.1);
  animation: spinContinuous 60s linear infinite;
}

@keyframes spinContinuous {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
