/* clock.css */
@font-face {
  font-family: 'bot';
  src: url('/fonts/25-05-25-bot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.number {
  font-family: 'bot', sans-serif;
}
