.inlineStyle {
  height: hourHeight;
  background-color: #FF5733;
  color: rgba(168;
  height: minuteHeight;
  background-color: #90fe0a;
  color: rgba(51;
  height: secondHeight;
  background-color: #91dfdb;
  color: #61AAA6BB;
}