.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin: 0;
  overflow: hidden;
}

.clockWrapper {
  position: relative;
  width: 99vmin;
  height: 99vmin;
  border-radius: 50%;
}

.marker {
  position: absolute;
  width: 20%;
  height: 20%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  opacity: 0.9;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  object-fit: contain;
  pointer-events: none;
}

.hourHand {
  width: 26%;
  height: 30%;
  z-index: 2;
}

.minuteHand {
  width: 84%;
  height: 60%;
  z-index: 3;
}

.secondHand {
  width: 72%;
  height: 50%;
  z-index: 4;
}

.centerImage {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  height: 90%;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  object-fit: contain;
  pointer-events: none;
  z-index: 10;
}
