.clockWrapper {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191b1b;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1) contrast(1.2) saturate(6);
}

.clockContainer {
  font-family: 'ShapesFont', monospace;
  position: relative;
  z-index: 2;
  display: grid;
  color: #fba433;
  justify-items: center;
  align-items: center;
  /* Standard Web CSS Text Shadow syntax: "h-offset v-offset blur-radius color" */
  text-shadow: 2px 2px 0px #c5b0f0, -2px 2px 0px #22045f;

  /* Laptop / Desktop (Default): All 6 digits in 1 row */
  grid-template-columns: repeat(6, 1fr);
  gap: 4vw;
}

.digit {
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1ch;
  font-variant-numeric: tabular-nums;
  font-size: clamp(3rem, 15vw, 12rem);
}

/* Phone: 2 columns, 3 rows */
@media (max-width: 768px) {
  .clockContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3vh 15vw;
  }

  .digit {
    font-size: clamp(4rem, 33vh, 8rem);
  }
}