.container {
  width: 100vw;
  height: 100dvh;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  max-width: 250px;
  max-height: 250px;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.clockSvg {
  position: relative;
  z-index: 100;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  width: 100vmin;
  height: 100vmin;
}

.clockNumber {
  font-family: 'ClockFont_26_08_21', serif;
  fill: #000;
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 4vh;
}

.hourHand {
  stroke: #000;
  stroke-width: 2.5;
  stroke-linecap: round;
}

.minuteHand {
  stroke: #000;
  stroke-width: 1.5;
  stroke-linecap: round;
}

.secondHand {
  stroke: rgb(125, 121, 121);
  stroke-width: 0.7;
  stroke-linecap: round;
}

.centerDot {
  fill: #000;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
