.footer {
  font-size: 0.6rem;
  text-align: center;
  width: 100%;
  color: #dde2dd;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(to right, #302f2a, #55552a);
}

.chl_logo {
  font-size: 1.3rem;
}


