.title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0.5rem;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.title-container.hidden {
  opacity: 0;
}

.title-container.visible {
  opacity: 1;
}

.chltitle {
  font-size: 0.8rem;
  color: #fff;
}

.bttitle {
  font-family: "Oxanium", sans-serif;
  transform: skewX(-20deg);
  color: #eae8ed;
  text-shadow:
    #340303 1px 0px 0,
    #340303 0px -1px 0;
  font-size: 0.6rem;
  line-height: 0.7rem;
  text-align: left;
  letter-spacing: -0.05rem;
  width: 100vw;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

