.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #798195; /* Bluish gray fallback */
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(2.0) hue-rotate(-54deg); /* Adjust saturation value as needed */
  z-index: 0;
}

.container > * {
  position: relative;
  z-index: 1;
}

/* Mobile-specific adjustments to show more of the background image */
@media (max-width: 600px) {
  .container::before {
    /* "Smaller" so the entire image is visible without cropping */
    background-size: 190%;
  }
}

.clockFace {
  position: relative;
  width: 95vw;
  height: 95dvh;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.391);
 }


.hourTick {
  position: absolute;
  width: 1vh;
  height: 18vh;
  opacity: 0.4;
  background-color: #100f0f;
  border-radius: 50%;
}


.hand {
  position: absolute;
  left: 50%;
  border-radius: 30%;
}
