.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Standard laptop behavior */
  background-color: #798195; /* Bluish gray fallback */
}

/* Mobile-specific adjustments to show more of the background image */
@media (max-width: 600px) {
  .container {
    /* "Smaller" so the entire image is visible without cropping */
    background-size: 190%;
  }
}

.clockFace {
  position: relative;
  width: 95vw;
  height: 95dvh;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.391);
 }


.hourTick {
  position: absolute;
  width: 1vh;
  height: 18vh;
  opacity: 0.4;
  background-color: #100f0f;
  border-radius: 50%;
}


.hand {
  position: absolute;
  left: 50%;
  border-radius: 30%;
}
