.wrapper {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  background-image: var(--bg-img),
    linear-gradient(to right, rgba(200, 200, 200, 0.05) 0.1vh, transparent 0.1vh),
    linear-gradient(to bottom, rgba(200, 200, 200, 0.05) 0.1vh, transparent 0.1vh);
  background-size: 25vh 15vh;
  background-position: center;
  filter: invert(1) saturate(7);
  overflow: hidden;
  position: relative;
}

.clock {
  font-family: 'ClockFont', monospace;
  line-height: 0.75;
  display: flex;
  z-index: 2;
}

.portrait {
  flex-direction: column;
  font-size: 13vh;
}

.landscape {
  flex-direction: row;
  font-size: 15vh;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  font-size: 49vh;
  font-family: 'MarqueeFont', serif;
  color: #110101ff;
  text-shadow: #6ee612ff 1px 0;
  z-index: 1;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.marquee.portrait {
  transform: translate(-50%, -50%) translateX(calc(var(--marquee-pos) * 1vw));
}

.marquee.landscape {
  transform: translate(-50%, -50%) translateY(calc(var(--marquee-pos) * 1vh)) rotate(90deg);
}

.syncStatus {
  position: absolute;
  top: 2vh;
  right: 2vh;
  color: #c8ff00;
}

.digit {
  transition: color 0.2s ease;
  color: var(--digit-color, #0ff);
  text-shadow: 
    1.0vh 0 0 var(--digit-shadow, #0ff), 
    1px 0 black, 
    0 -1px 0 black;
}