.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #eeeb10;
}
.backgroundVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.9);
  transform-origin: center;
  display: block;
  /* opacity: 0.9; */
  z-index: 0;
  filter: saturate(2.5) contrast(1.9) hue-rotate(20deg)  brightness(1.4);
}

.ursa {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transform: scale(1.4);
  opacity: 0.6;
  pointer-events: none;
  filter: saturate(1.0) contrast(1.0) hue-rotate(30deg) brightness(1.0);
}

.deer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 90vmin auto;
  background-position: center;
  z-index: 11;
  opacity: 0.3;
  filter: saturate(2.5) hue-rotate(30deg);
  pointer-events: none;
}

.analogClock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(85vw, 85vh);
  height: min(85vw, 85vh);
  z-index: 10;
  /* opacity: 0.5; */
  pointer-events: none;
}

.svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.numeral {
  fill: rgba(255, 255, 17, 0.46);
  font-size: 10vh;
  font-family: 'ClockFont_26_09_28', serif;
  letter-spacing: 0.5px;
  user-select: none;
  text-anchor: middle;
  dominant-baseline: middle;
}

.hand {
  stroke: rgba(255, 255, 17, 0.378);
  stroke-linecap: round;
}

.hourHand {
  stroke-width: 3.5px;
}

.minuteHand {
  stroke-width: 2.5px;
}

.secondHand {
  stroke-width: 1.75px;
}

@media (prefers-reduced-motion: reduce) {
  .backgroundVideo {
    filter: none;
  }
}
