.style-1 {
angFont
}

.style-2 {

            opacity: 0;
            transform: scale(0.9);
          
}

.style-3 {

            opacity: 1;
            transform: scale(1);
          
}

.style-4 {

            opacity: 0;
            transform: scale(0.9);
          
}

.inlineStyle {
  position: absolute;
  color: #EDBFEAFF;
  text-shadow: 4rem 0rem #E71BCBFF;
  font-size: getFontSize(char);
  animation: animate ? fadeInOut 0.3s ease-in-out : undefined;
  transform-origin: center;
  display: inline-block;
}