@font-face {
  font-family: 'Empire';
  src: url('../../../assets/fonts/2026/26-03-20-empire.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: url('../../../assets/images/26-03/26-03-20/empire.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  font-family: 'Empire', sans-serif;
}

.clockContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  max-width: 95vmin;
  max-height: 95vmin;
}

.analogClock {
  width: 100%;
  height: 100%;
  position: relative;
}

.clockFace {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}

.hourNumber {
  position: absolute;
  font-family: 'Empire', sans-serif;
  font-size: 10vh;
  font-weight: bold;
  text-shadow: none;
  color: #FF0000;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.6;

}

.hourHand {
  width: 1.5%;
  height: 28%;
  background-color: #fff;
  z-index: 2;
}

.minuteHand {
  width: 1%;
  height: 38%;
  background-color: #e0e0e0;
  z-index: 3;
}

.secondHand {
  width: 0.5%;
  height: 42%;
  background-color: #ee7777;
  z-index: 4;
}

.centerDot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3%;
  height: 3%;
  background-color: #e76060;
  border-radius: 50%;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}