@keyframes animate {
  0% { background-position: -500%; }
  50% { background-position: 500%; }
  100% { background-position: 100%; }
}

.animate {
  animation: animate 3s linear infinite;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
