.footerStrip {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1px;
  box-sizing: border-box;
  z-index: 90;
  font-family: 'Nunito', sans-serif;
  transition: opacity 0.7s ease-in-out, transform 0.5s ease-in-out;
  pointer-events: auto;
}

.footerStrip.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.footerStrip.hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}

.footerButton,
.navButton {
  padding: 0.5rem;
  background: rgba(3, 2, 2, 0.7);
  border: 0.5px solid RGBA(98, 103, 112, 0.8);
  color: #dadbd7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-family: inherit;
  transition: background 0.4s ease, color 0.4s ease;
  pointer-events: auto; /* Ensure buttons are always interactive */
}

.footerButton {
  flex: 1;
}

.navButton {
  flex: 0 0 auto;
  width: 80px;
  font-size: 2rem;
}

.footerStrip.hidden .footerButton,
.footerStrip.hidden .navButton {
  background: rgba(3, 2, 2, 0);
  color: rgba(218, 219, 215, 0);
  border-color: rgba(98, 103, 112, 0);
}

.footerButton:hover,
.navButton:hover {
  background: rgb(1, 10, 61);
  color: #ffffff;
  opacity: 0.9;
  border-color: rgba(98, 103, 112, 0.8);
}