/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

/* Ensure full-page layout */
html,
body {
  margin: 0;
  background-color: #dcd7d8;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%;
  box-sizing: border-box;
  z-index: 5;
}

.dateList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem 0.1rem;
  position: relative;
  z-index: 1;
}

.entry:not(:last-child) {
  border-bottom: 1px solid #f8f9fb;
}

.entry:first-child {
  border-top: 1px solid #fbfcfd;
}

.entry::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: #0c0d0f;
  z-index: -1;
  transform: translateX(-50%);
  transition: width 0.2s ease;
}

.entry:hover::before {
  width: 100vw;
}

.entry:hover:not(:last-child) {
  border-bottom: 1px solid transparent;
}

.entry:hover:first-child {
  border-top: 1px solid transparent;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

.clockNumber {
  flex: 0 0 auto;
  font-size: 0.6rem;
  font-family: "Nunito", sans-serif;
  color: #0c0d0d;
  text-align: left;
  min-width: 4rem;
}

.date {
  flex: 0 0 auto;
  font-size: 0.7rem;
  font-family: "Nunito", sans-serif;
  color: #0c0d0d;
  text-align: right;
  min-width: 5rem;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  font-family: "Nunito", sans-serif;
  color: #0c0d0d;
  text-align: center;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  word-break: break-word;
  line-height: 1.1;
  max-width: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: #dc3545;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.loading {
  color: #212521;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.sortContainer {
  display: flex;
  justify-content: center;
  padding: 0.1rem 0;
  z-index: 6;
}

.sortButton {
  background-color: transparent;
  font-size: 0.5rem;
  padding: 4px 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s, text-shadow 0.2s;
  color: #8b8f8c;
  font-family: "Nunito", sans-serif;
}

.sortButton:hover {
  background-color: rgba(48, 49, 50, 0.5);
  color: #feffff;
}

.sortButton.active {
  color: #616063;
  border-color: #c7f2ce;
  background-color: rgba(177, 175, 179, 0.3);
}

.sortButton:focus {
  outline: none;
}

.titleSortButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dateSortButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.entry:hover .clockNumber,
.entry:hover .title,
.entry:hover .date {
  color: #cad8f4;
}