.loadingContainer {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backgroundColor: var(--lab-bg-gray);
  font-family: sans-serif;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: 0.1rem;
  margin-top: 1rem;
}

.footerIcon {
  width: 2rem;
  height: 2rem;
  transition: opacity 0.2s;
}