@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');



html,
body {
  margin: 0;
}

.text {
 font-family: "Manrope", sans-serif;
 font-size: 3rem;
}

.container {
 font-family: "Manrope", sans-serif;
  margin: 0.0;
  padding: 0 0 60px 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: min(80%, 800px);
  box-sizing: border-box;
  z-index: 5;
  color: #060706;
}

.centeredContent h1 {
  font-family: "Roboto Slab", sans-serif;
  color: #850404;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  line-height: 4rem;
  text-align: left;
  margin: 0.0rem 0;
}

.centeredContent p { 
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}

.epigraph {
  font-size: 1.0rem;
  margin: 0.6rem 0.0rem;
  text-align: left;
  color: #323737;
  /* max-width: 70rem; */
}

.epigraph .quote {
  font-style: italic;
  border-left: 2px solid #9f9a9a; /* Added vertical line */
  padding-left: 1rem; /* Space between line and text */
}

.epigraph .attribution {
  text-align: left;
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-style: normal;
  font-size: 0.8rem;
}

.epigraph .author {
  color: #6b6969;
}

.epigraph .source {
  color: #6b6969;
  font-size: 0.8rem;
}



.hat {
  font-family: "Roboto Slab", sans-serif;    
  font-size: 1.0rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #850404;
  line-height: 1.2rem;
  margin-bottom: -1.9rem;
  display: block;
}

.smallcaps {
  font-family: "Nunito", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.041em;
  text-transform: uppercase;

}

p {
  font-family: "Nunito", sans-serif;
}

.translate {
  display: block;
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
  color: #4d514d;
}

.line {
  display: block;
  bottom: 100px;
  margin-top: 0.2rem;
}

a {
  color: #02385f;
    /* border: 1px solid #838080; */
    padding: 0.2rem 0.4rem;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}