.container {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: visible;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterSvg {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.backgroundImagePrimary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  z-index: 1;
}

.backgroundImageSecondary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.5;
  pointer-events: none;
}

.backgroundImageTertiary {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190%;
  height: 190%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  /* opacity: 0.3; */
  pointer-events: none;

  filter: saturate(2.2);

  transform-origin: center;
  animation: rotateCCW_26_09_05 60s linear infinite;
}

.clockFace {
  position: relative;
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
  border-radius: 50%;
  z-index: 4;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: var(--hand-width);
  height: var(--hand-height);
  background-color: var(--hand-color);
  transform-origin: 50% 100%;
  transform: translateX(-50%) rotate(var(--hand-rotate));
  border-radius: 1vmin;
  z-index: 5;
  will-change: transform;
}

.handDot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 18vmin;
  height: 18vmin;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: 6;
  pointer-events: none;
}

.centerDot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2vmin;
  height: 2vmin;
  background-color: #a3e635;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@keyframes rotateCCW_26_09_05 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}