.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-radial-gradient(
    circle,
    hsl(263, 58%, 31%) 0% calc(100% / 100),
    hsl(294, 83%, 24%) calc(100% / 100) calc(100% / 100 * 2),
    hsl(276, 92%, 31%) calc(100% / 100 * 2) calc(100% / 100 * 3)
  );
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.clockContainer {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.centerLine {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.3vmin;
  height: 49vh;
  background-color: rgba(248, 193, 12, 0.679);
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: none;
}

.ring {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 3px 0px 0px rgb(1, 0, 0);
  transform-origin: center center;
  user-select: none;
}

.hourNumber {
  font-family: 'ClockFont_26_08_15_Hour', sans-serif;
  font-size: 15vmin;
  letter-spacing: -0.15em;
  color: #f9f004;
  
}

.minuteNumber {
  font-family: 'ClockFont_26_08_15_Min', sans-serif;
  font-size: 7.3vmin;
  letter-spacing: -0.2em;
  color: #e7f309;
}

.secondNumber {
  font-family: 'ClockFont_26_08_15_Sec', sans-serif;
  font-size: 11vmin;
  letter-spacing: -0.04em;
  font-weight: 900;
  color: #ffdd00;
}
