
@font-face {
  font-family: 'ClockFont_26-05-25';
  src: url('../../../../assets/fonts/26fonts/26-05-25.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@import url('../../../../styles/fonts/clock-26-05-25.css');

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1a1a;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.clock {
  display: flex;
  gap: 0.25rem;
  align-items: center;


  position: relative;
  z-index: 1;
  max-width: 100%;
  /* padding: 0 0.5rem; */
}

.digit {
  font-size: 22vh;
  font-family: 'ClockFont_26-05-25', 'Courier New', monospace;
  background-size: 20rem 20rem;
  display: inline-flex;
  color: #ffffff72;
  filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.7));
  justify-content: center;
  align-items: center;
  width: 0.6em;
  height: 1.2em;
}
