.container {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: #0b454c; /* Add a background for when the video loads */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(1) contrast(1.5) saturate(0.6) hue-rotate(-20deg); 
  top: 0;
  left: 0;
  z-index: 1;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image is never clipped and always centered */
  z-index: 2; /* Keep it on top */
  mix-blend-mode: screen; /* Make black parts transparent */
  filter: brightness(0.8) contrast(5.2); /* Adjust brightness and contrast */
}

@media (max-width: 767px) {
  .video {
    object-fit: contain;     /* Reset the filter for a cleaner look on mobile */
    transform: scale(1.3); /* Scale down the video */
  }
  .overlayImage {
    transform: scale(1.2) translateX(2%); /* Scale and nudge to the right */
  }
}